/* General Reset */
body, h1, p, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tilt Neon', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f7f7f7;
    color: #4E4E4E;
}

.main-container {
    width: 350px;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    color: #292929;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    color: #292929;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input:focus {
    outline: none;
    border-color: #1e1e1e;
}

.action-button {
    background: #1e1e1e;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.action-button:hover {
    background: #292929;
}

.hidden {
    display: none;
}
