/* General Reset */
body, h1, p, label, input, button, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Tilt Neon', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #FFEDE9; */
    color: #4E4E4E;
}

/* Container */
.container {
    display: flex;
    
    align-items: center;
    width: 100%; /* Ограничиваем ширину контейнера */
   
   
   
}

/* Illustration Section */
.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
}
.skeleton {
    position: relative;
    max-width: 100%;
}
.skeleton svg {
    width: 100%;
    height: auto;
}
.speech-bubble {
    position: absolute;
    background: #7F265B;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 15px;
}
.speech-bubble.left {
    top: 20%;
    left: -40px;
}
.speech-bubble.right {
    top: 20%;
    right: -40px;
}
.tagline {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    color: #525252;
}

/* Login Section */
.login-section {
    background: #FFFFFF;
   
    padding: 0px;
    width: 100%; /* Делаем ширину 100% */
    max-width: 400px; /* Ограничиваем максимальную ширину */
}
.header h1 {
    font-size: 32px;
    color: #525252;
    text-align: center;
}
.header p {
    font-size: 18px;
    color: #525252;
    text-align: center;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.separator {
    text-align: center;
    margin: 20px 0;
    color: #919191;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-form label {
    font-size: 16px;
}
.login-form input {
    padding: 10px;
    border: 1px solid #DED2D9;
    border-radius: 5px;
    font-size: 16px;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options label {
    font-size: 14px;
}
.options .forgot-password {
    color: #7F265B;
    font-size: 14px;
}
.login-button {
    background: #7F265B;
    color: #FFFFFF;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.register {
    text-align: center;
    margin-top: 20px;
}
.register a {
    color: #7F265B;
    font-weight: bold;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
       
        
    }
    .illustration {
        max-width: 80%;
    }
    .login-section {
        background: #FFFFFF;
       
        padding: 0px;
        width: 70%; /* Делаем ширину 100% */
        max-width: 500px; /* Ограничиваем максимальную ширину */
    }
    .header h1 {
        font-size: 28px;
    }
    .header p {
        font-size: 16px;
    }
    .skeleton {
        position: relative;
        max-width: 90%;
    }
    .register {
        text-align: center;
        margin-top: 12px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .header h1 {
        font-size: 24px;
    }
    .header p {
        font-size: 14px;
    }
    .login-form label {
        font-size: 14px;
    }
    .login-form input {
        font-size: 14px;
    }
    .login-button {
        font-size: 14px;
    }
    .options label, .options .forgot-password {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 20px;
    }
    .header p {
        font-size: 12px;
    }
    .login-form input {
        font-size: 12px;
        padding: 8px;
    }
    .login-button {
        font-size: 12px;
        padding: 10px;
    }
}
