body { 
    font-family: 'Tilt Neon', sans-serif;
    background: #f5f5f5;
    color: #000;
    height: 100vh; 
    width: 100%; 
    
}

.header {
    display: flex;
    justify-content: space-between; /* Вирівнювання між елементами */
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.search-container input {
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    font-size: 14px;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #292929;
    gap: 10px;
}

aside ul a:hover {
    background-color: #0a091779; 
    color: white;
}

aside li a:hover .icon svg path {
    stroke: white; 
}

.Vector_167{
    position: absolute;
    pointer-events: none;
    z-index: 0; 
    top: 70.5px;
    left: -7px;
}

.icon-TeamSpace {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    padding-left: 0px;
    
}

aside {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

aside li a {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #f8f9fa; 
    color: #292929;
    text-decoration: none;
}
.search-container .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    stroke: #292929;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
}

aside a {
    text-decoration: none;
    color: #91918F;
    
}
.header-right .username {
    font-size: 18px; 
    color: #292929;
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.main-content {
    position: fixed;
    top: 40px; /* Відступ нижче header */
    bottom: 0;
    left: 0;
    width: 100%; /* Розтягуємо на всю ширину */
    display: flex;
    /* overflow: hidden;  */
    background-color: #f5f5f5;
}
.main-content aside {
   
    top: 80px; /* Висота header */
    left: 0;
    bottom: 0;
    width: 250px; /* Ширина aside */
    background-color: #fff;
    /* overflow-y: auto;  */
    border-right: 1px solid #e0e0e0;
}

.name_firma {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    padding: 0px 0px 40px 0px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
   left: 50px;
    width: 900px; 
    height: 40px; 
    padding-left: 60px;
}
aside li.My_Projects a {
    background: #0C0B19;
    color: white;
    width: 100%;
}
.search-container .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    stroke: #292929;
}
main {
    flex: 1;
    padding: 20px;
  
}

.filters {
    display: flex;
    flex-direction: row;
    padding: 15px 28px;
    gap: 20px;
}



.basesort {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 70%;
    padding: 0px 0;
}

.filters {
    display: flex;
    align-items: center; 
    gap: 20px;  
}
.filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    cursor: pointer;
}

.filter-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.filter-button {
    padding: 5px 5px;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 12px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    cursor: pointer;
}

.filter-chip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 6px 6px;
    width: 70px;
    height: 30px;
}

.filter-chip .icon {
    width: 30px;
    height: 30px;
}

.filter-chip span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #000;
}

.sort-button {
    padding: 10px 6px;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 12px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    cursor: pointer;
}

.clear-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 120px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-all span {
    text-align: center;
}

.clear-all:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), rgba(255, 255, 255, 0.4);
    color: #333;
}

.clear-all .label-text {
    width: 114px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #000;
}
.basesort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
 
.project-table th,
.project-table td {
    text-align: left;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #000;
    
}

  .project-table td {
    border-bottom: 1px dashed #000;
    
  }
  
  .project-table {
    width: 60%; 
    
    border-radius: 10px;
   
}

.progress-container {
    width: 300px; 
    height: 10px;
    background: #D9DACA; 
    border-radius: 8px;
    position: relative;
    overflow: hidden; 
   right: 14px;
   
}

.project-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

.project-table th {
    background-color: #f1f1f1;
    font-size: 18px;
    padding: 0px 50px;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    gap: 20px;
    
}

.progress {
    display: flex;
    width: 400px;
    align-items: center;
    position: relative;
    flex-direction: column;
    
}

.progress-text {
    display: flex;
    width: 100%;
    position: relative;
    left: 35px; 
}

.progress-percentage {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.progress-bar {
    height: 100%; 
    border-radius: 8px; 
    transition: width 0.5s ease-in-out;
    background-color: transparent; 
    
}

.red {
    background: linear-gradient(90deg, #DA1E28 0%, #FF000E 75%, #D9DACA 0%);
}

.green {
    background-color: #198038;
}

.yellow {
    background: linear-gradient(90deg, #F1C21B 0%, #F1C21B 75%, #D9DACA 76%);
}

.blue {
    background: linear-gradient(90deg, #0043CE 0%, #0043CE 75%, #D9DACA 76%);
}

.progress-icon {
    position: absolute;
    left: 0px;
    top: 5px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #efefef;
}

@media (max-width: 768px) {
    .project-table {
        padding: 15px;
    }

    .project-table table {
        font-size: 14px;
    }

    .progress-bar {
        height: 8px;
    }

    .progress span {
        font-size: 12px;
    }
}




.right-panel{
    position: relative; /* Робимо блок відносно розташованим */
    top: -65px; /* Переміщуємо його до верхнього краю */
    width: 100%;
    padding: 0px 10px;
}

.user-info .profile {
    display: flex;
    flex-direction: column; /* Розташування елементів вертикально */
    align-items: center; /* Центрування по горизонталі */
    justify-content: center; /* Центрування по вертикалі */
    gap: 5px; /* Відступи між елементами */
    height: 100%; /* Щоб профіль займав доступну висоту */
    text-align: center; /* Вирівнювання тексту по центру */
    
}
.user-info .avatar {
    width: 50px;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 50%; /* Робимо аватар круглим */
    display: flex;
    align-items: center; /* Центрування тексту всередині аватарки */
    justify-content: center;
    font-size: 24px;
    color: #000;
    margin: 0;
}
 
.user-info h3 {
    margin: 0; /* Прибираємо зайві відступи */
    font-size: 18px;
    font-weight: bold;
}

.user-info .status {
    margin: 0;
    font-size: 14px;
    color: #666; /* Можна налаштувати колір статусу */
}



.details span  {
    /* display: flex;
    flex-direction: column; */
    margin: 0;
    color: #6F6F6F;
}

.details span {
    font-weight: bold;
}
.t_panels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
}



.panel_active-projects {
    grid-column: 1; 
    grid-row: 1; 
}
.current-task {
    grid-column: 2; 
    grid-row: 1; 
}
.tasks-completed {
    grid-column: 1; 
    grid-row: 2; 
}
.tasks-left {
    grid-column: 2; 
    grid-row: 2; 
}



.card.red1 {
    background-color: #d2797950;
    color: 6F6F6F;
} 
   


.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
   
    
   
   
    
    
}

.card.blue1 {
    background-color: #7A6EFE50;
    color: 6F6F6F;
}
.card.yellow1 {
    background-color: #24A8FA50;
    color: 6F6F6F;
}

.card.orange1 {
    background-color: #FFA90150;
    color: 6F6F6F;
}

.progress-container_active-projects {
    position: relative;
    width: 110%;
    height: 5px;
    
    border-radius: 10px;
    left: 20px;
    margin-top: 10px;
}

.progress-bar_active-projects {
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
    
}

.progress-bar_active-projects.green {
    background-color: #198038;
}

.progress-bar_active-projects.red {
    background-color: #DA1E28;
}

.progress-bar_active-projects.blue {
    background-color: #0043CE;
}

.progress-bar_active-projects.yellow {
    background-color: #F1C21B;
}

.progress-textactive-projects {
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
    text-align: left;
    color: #333;


}
.progress-icon_active-projects{
    left: -30px;
    position: relative;
    top: -19px;
}
