body { 
    font-family: 'Tilt Neon', sans-serif;
    background: #f5f5f5;
    color: #333;
    height: 100vh; /* Висота сторінки = висота вікна браузера */
 
}
html, body {
    height: 100%; /* Робимо сторінку на всю висоту вікна браузера */
  
   
}

.header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
}

.search-container input {
    border: none; /* Прибираємо рамку вводу */
    outline: none; /* Прибираємо обводку при фокусі */
    font-size: 16px; /* Розмір тексту */
    color: #292929; /* Колір тексту */
    flex-grow: 1; /* Займає всю доступну ширину */
    background: none; /* Фон прозорий */
}


.header-right .icon {
    display: flex; /* Включаємо flexbox */
    justify-content: center; /* Центрування */
    align-items: center; /* Центрування */
   
 
   
    cursor: pointer; /* Курсор-рука */
}
.search-container .search-icon {
    position: absolute; /* Абсолютне позиціонування */
    left: 15px; /* Відступ від лівого краю контейнера */
    top: 50%; /* Вирівнюємо по вертикалі */
    transform: translateY(-50%); /* Центруємо іконку */
    
}

.header-right .username {
    font-size: 18px; /* Розмір шрифту */
    color: #292929; /* Колір тексту */
    display: flex; /* Включаємо flexbox */
    align-items: center; /* Центруємо */
    gap: 10px; /* Відстань між іменем і іконкою */
}
.header-right {
    display: flex; /* Включаємо flexbox */
    flex-direction: row; /* Елементи в ряд */
    align-items: center; /* Вирівнювання по центру */
    gap: 20px; /* Проміжок між елементами */
}

.main-content {
    display: flex;
    
   
}
.name_firma {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    padding: 0px 0px 40px 0px;
}
.search-container {
    position: relative; /* Включаємо відносне позиціонування */
    display: flex; /* Вирівнювання елементів в одному рядку */
    align-items: center; /* Центруємо по вертикалі */
    width: 700px; /* Ширина пошукового рядка */
    height: 56px; /* Висота */
   

    padding-left: 60px; /* Відступ для тексту, щоб не перекривало іконку */

}


aside .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #000;
}
aside ul a:hover {
    background-color: #0C0B19; 
    color: white;
}
aside li a:hover .icon svg path {
    stroke: white; /* Колір обведення іконки */
}


.Vector_167{
  
    position: absolute;
    pointer-events: none; /* Иконка не кликабельна */
    z-index: 0; /* На задний план */
    top: 16.5px;
    left: -15px;
    
}
.icon-TeamSpace {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    padding-left: 0px;
    
}
aside {
    display: flex;
    flex-direction: column;
   
    
    
    padding: 20px;
    box-sizing: border-box;
}
aside li a {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #f8f9fa; /* Колір фону */
    color: #292929;
    text-decoration: none;
}

aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
}
aside a {
    text-decoration: none;
    color: #91918F;
}
aside li.Overview a {
    background: #0C0B19;
    color: white;
}
main {
    flex: 1;
    padding: 20px;
  
}










