body { 
    font-family: 'Tilt Neon', sans-serif;
    background: #f5f5f5;
    color: #000;
    height: 100vh; 
    width: 100%; 
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}


.search-container input {
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    font-size: 14px;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #292929;
    gap: 10px;
}

.search-container .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    stroke: #292929;
}

.header-right .username {
    font-size: 18px; 
    color: #292929;
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.main-content {
    position: fixed;
    top: 40px; /* Відступ нижче header */
    bottom: 0;
    left: 0;
    width: 100%; /* Розтягуємо на всю ширину */
    display: flex;
    /* overflow: hidden;  */
    background-color: #f5f5f5;
}
.main-content aside {
    position: fixed;
    top: 80px; /* Висота header */
    left: 0;
    bottom: 0;
    width: 250px; /* Ширина aside */
    background-color: #fff;
    /* overflow-y: auto;  */
    border-right: 1px solid #e0e0e0;
}

.name_firma {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    padding: 0px 0px 40px 0px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
   left: 50px;
    width: 1900px; 
    height: 40px; 
    padding-left: 60px;
}

aside .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #000;
}

aside ul a:hover {
    background-color: #0a091779; 
    color: white;
}

aside li a:hover .icon svg path {
    stroke: white; 
}

.Vector_167{
    position: absolute;
    pointer-events: none;
    z-index: 0; 
    top: -20px;
    left: -7px;
}

.icon-TeamSpace {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    padding-left: 0px;
    
}

aside {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; /* Прибирає прокручування */
    position: fixed; /* Фіксоване положення */
}

aside li a {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #f8f9fa; 
    color: #292929;
    text-decoration: none;
}

aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
}

aside a {
    text-decoration: none;
    color: #91918F;
    
}

aside li.My_Projects a {
    background: #0C0B19;
    color: white;
    width: 100%;
}
main {
    margin-left: 250px; /* Відступ для aside */
    padding: 20px;
    flex: 1;
    overflow-y: auto; /* Дозволяємо прокручування тільки всередині */
    background-color: #f8f8f8;
    height: calc(100vh - 80px); /* Висота сторінки без header */
}.filters {
    display: flex;
    flex-direction: row;
    padding: 15px 28px;
    gap: 20px;
}



.basesort {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    padding: 0px 0;
}

.filters {
    display: flex;
    align-items: center; 
    gap: 20px;  
}
.filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    cursor: pointer;
}

.filter-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.filter-button {
    padding: 5px 5px;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 12px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    cursor: pointer;
}

.filter-chip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 6px 6px;
    width: 70px;
    height: 30px;
}

.filter-chip .icon {
    width: 30px;
    height: 30px;
}

.filter-chip span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #000;
}

.sort-button {
    padding: 10px 6px;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 12px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    cursor: pointer;
}

.clear-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 120px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-all span {
    text-align: center;
}

.clear-all:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), rgba(255, 255, 255, 0.4);
    color: #333;
}

.clear-all .label-text {
    width: 114px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #000;
}
.basesort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 40px; /* Adjust to match the height of the header */
    padding: 0px 0;
}
 
.project-table th,
.project-table td {
    text-align: left;
    padding: 15px;
   
    font-size: 16px;
    padding: 15px;
    border-bottom: 1px solid #000;
    
}

  .project-table td {
    border-bottom: 1px dashed #000;
    
  }
  
  .project-table {
  
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-container {
    width: 300px; 
    height: 10px;
    background: #D9DACA; 
    border-radius: 8px;
    position: relative;
    overflow: hidden; 
   right: 14px;
   
}
.project-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.project-table tr:hover {
    background-color: #efefef;
}
.project-table table {
    /* width: 100%; */
    border-collapse: collapse;
}
.project-table th {
    width: 25%; /* Each column takes 2 parts (33.33% of 6 parts) */
    font-weight: bold;
    background-color: #f1f1f1;
}

.dashboard {
    display: grid;
   
    gap: 20px;
   
}

.progress {
    display: flex;
    width: 400px;
    align-items: center;
    position: relative;
    flex-direction: column;
    
}

.progress-text {
    display: flex;
    width: 100%;
    position: relative;
    left: 35px; 
}

.progress-percentage {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.progress-bar {
    height: 100%; 
    border-radius: 8px; 
    transition: width 0.5s ease-in-out;
    background-color: transparent; 
    
}

.red {
    background: linear-gradient(90deg, #DA1E28 0%, #FF000E 75%, #D9DACA 0%);
}

.green {
    background-color: #198038;
}

.yellow {
    background: linear-gradient(90deg, #F1C21B 0%, #F1C21B 75%, #D9DACA 76%);
}

.blue {
    background: linear-gradient(90deg, #0043CE 0%, #0043CE 75%, #D9DACA 76%);
}

.progress-icon {
    position: absolute;
    left: 0px;
    top: 5px;
}

@media (max-width: 2500px) {
    .search-container {
        width: 1800px;  
    }
}@media (max-width: 2400px) {
    .search-container {
        width: 1700px;  
    }
}@media (max-width: 2300px) {
    .search-container {
        width: 1600px;  
    }
}@media (max-width: 2200px) {
    .search-container {
        width: 1500px;  
    }
}@media (max-width: 2100px) {
    .search-container {
        width: 1400px;  
    }
}@media (max-width: 2000px) {
    .search-container {
        width: 1300px;  
    }
}@media (max-width: 1900px) {
    .search-container {
        width: 1200px;  
    }
}@media (max-width: 1800px) {
    .search-container {
        width: 1100px;  
    }
}@media (max-width: 1700px) {
    .search-container {
        width: 1000px;  
    }
}@media (max-width: 1600px) {
    .search-container {
        width: 900px;  
    }
}@media (max-width: 1500px) {
    .search-container {
        width: 800px;  
    }
}@media (max-width: 1400px) {
    .search-container {
        width: 700px;  
    }
}@media (max-width: 1300px) {
    .search-container {
        width: 600px;  
    }
}@media (max-width: 1200px) {
    .search-container {
        width: 500px;  
    }
}@media (max-width: 1100px) {
    .search-container {
        width: 400px;  
    }
}@media (max-width: 1000px) {
    .search-container {
        width: 300px;  
    }
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    background-color: #fff;
    border-radius: 8px;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-name {
    font-size: 1.5em;
    margin: 10px 0;
}

.profile-tags .tag {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.profile-links .link {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.profile-links .link img {
    margin-right: 10px;
}

.profile-description {
    margin-top: 10px;
}